@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: "Poppins", sans-serif;
}

.custom-pagination {
  display: flex !important; 
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}


.custom-pagination .swiper-pagination-bullet {
  background-color: #22c55e !important; 
  opacity: 0.4;
  width: 8px;
  height: 8px;
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
